GOOGLE_WEB_CLIENT_ID=
GOOGLE_PLAY_SERVICE_ACCOUNT_JSON=
GOOGLE_PLAY_PACKAGE_NAME=com.vroovamobile
GOOGLE_PLAY_SUBSCRIPTION_PRODUCT_ID=vroova_pro_monthly
VROOVA_JWT_SECRET=
DVLA_API_KEY=
DVSA_CLIENT_ID=
DVSA_CLIENT_SECRET=
DVSA_API_KEY=
DVSA_SCOPE_URL=https://tapi.dvsa.gov.uk/.default
DVSA_TOKEN_URL=https://login.microsoftonline.com/a455b827-244f-4c97-b5b4-ce5d13b4d00c/oauth2/v2.0/token
DATABASE_URL=
